Scramble: <%= @chars %> 
<% if @success1 %>You have successfully spelled <% else %>You failed to spell <% end %><a href="http://graph.facebook.com/<%=@friend1.friend_id%>"><%= @friend1.friend %></a><br/>

<a href="/">Play again</a>

