<% if @friends < 2 %>
Not enough friends 
<% else %>
Letters from two of your friends's names are scrambled re-arrange them
  to spell your friends's names. This is not case
  sensitive. Non-letter characters wil be ignored.<br/>
<h2><%= @chars %></h2>


<%= form_tag :controller => "trial", :action => "create" do %>

<h3>Unscrambled friend's name: <input type="text" name="friend1"/></h3><br/>

Click below to check your results.<br/>
<input type="submit" value="Check Result"/>
<% end %>
<% end %>
