<!DOCTYPE html>
<html>
<head>
  <title>Spellyourfriends</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
<br/>
<br/>
Part of the <a href="http://www.websiteadaychallenge.com/">Website a day challenge</a>. Written by Gershon Bialer
</body>
</html>
